
/* style.css */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #1E1E1E;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: #007ACC;
    border-radius: 50%;
    opacity: 1;
    animation: radar 2s infinite;
}
.loadText {
    font-family: sans-serif;
    font-size: 15px;
    color: lightgray;
    margin-top: 50px;
}

@keyframes radar {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    1% {
        transform: scale(0.5);
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
        opacity: 0;
    }
    100% {
        transform: scale(0.5);
        opacity: 0;
    }


}