
/* style.css */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #1E1E1E;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007ACC;

    transform: scale(0.5);
    opacity: 0;
}
.circle.searching {
    animation: radar 2s infinite;
    opacity: 1;
}
.circle.success {
    animation: radarsuccess 1s;
    background-color: #2ECC71;
    transform: scale(0.5);
    opacity: 1;
}
.loadText {
    font-family: sans-serif;
    font-size: 15px;
    color: lightgray;
    margin-top: 50px;
}
@keyframes radarsuccess {
    from {
        transform: scale(2);
        opacity: 0;
    }
    to {
        transform: scale(0.5);
        opacity: 1;
    }
}

@keyframes radar {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    60% {
        transform: scale(1.5);
        opacity: 0;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}